{% extends "index.html" %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block contenido %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Datos para parte interna de la empresa</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'catalogue' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="revenue">Vista Para Usuarios</label>
                </div> 
                <div class="form-group">
                    <label for="{{ form.name_active.id_for_label }}">Nombre del activo</label>
                    <input type="text" class="form-control" placeholder="Nombre del activo" id="nombre_activo" name="nombre_activo">
                </div>
                <div class="form-group">
                    <label for="{{ form.areas.id_for_label }}">Departamentos/áreas:</label>
                    <input type="text" class="form-control" placeholder="Departamentos/áreas" id="areas" name="areas">
                </div>
                <button type="submit" class="btn btn-success btn-add btn-align" id="btnAdd">Guardar</button>
            </form>
            <p>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre del<br>activo</th>
                        <th>Departamento/<br>Área</th>
                        <th>Tipo de<br>activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catalogue in catalogues %}
                    <tr>
                        <td class="editable" contenteditable="true"> {{ catalogues.name_active }} </td>
                        <td class="editable" contenteditable="true"> {{ catalogues.areas }} </td>
                        <td>
                            <a class="btn btn-danger" href="{" role="button">Eliminar</a>
                            <a class="btn btn-secondary" href="">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
        
    </div>
</div>
{% endblock contenido %}