{% extends "index.html" %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/business-data-style.css' %}" rel="stylesheet">
{% endblock styles %}

{% block contenido %}
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Información de la empresa</h5>
            </div>
            <div class="form-group">
                <label for="companyName">Los datos proporcionados serán utilizados para generar 
                    el encabezado del informe de inventario de activos de información
                </label>
            </div>
            <form action="{% url 'businessData' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}">Nombre de la empresa</label>
                        <input type="text" class="form-control dimension" placeholder="Nombre de la Empresa" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.imagen.id_for_label }}">Logo de la compañía:</label>
                        <input type="file" name="imagen" accept="image/*" id="file" onchange="displayImage()">
                        <img id="preview" src="#" alt="Vista previa de la imagen" class="img-dimension">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-add btn-align" id="btnAdd">Guardar</button>
            </form>
            <table class="table table-responsive move">
                <thead>
                    <tr>
                        <th>Nombre de la Empresa</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for business in businesses %}
                        <tr>
                            <td class="editable" contenteditable="true">{{ business.nombre }}</td>
                            <td><img src="{{ business.imagen.url }}" alt="{{ business.nombre }}" height="50"></td>
                            <td>
                                <a href="{% url 'deleteData' pk=business.pk %}" class="btn btn-danger" role="button">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% block scripts %}
<script>
    function displayImage() {
        var input = document.getElementById('file');
        var preview = document.getElementById('preview');
    
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
    
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
        }
    }
</script>
{% endblock scripts %}
{% endblock contenido %}
