body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}



.login-form {
    width: 450px;
    height: 270px;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}

.pie-form {
    margin-bottom: 10px;
}

.form-control {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
}

.button:hover {
    background-color: #4cae4c;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.small-text {
    color: #d9534f;
}

.img-logo{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-food{
    width: 140%;
    height: 290px;
    margin-left: -18%;
    display: block;
    margin-bottom: auto;
    filter: blur(-18px);
    opacity: 0.5;
}

.h6{
    display: flex;
    align-items: center;
    justify-content: center;
}