@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.button1 {
  background-color: #e7e6e6;
  color: black;   
  border: 2px dotted gray;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 0 auto; 
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  transition: border 0.3s ease; 
}

.button1:hover {
  border: 2px dotted transparent;
  color: rgb(46, 43, 43); 
  text-decoration: none; 
}

.sidebar-divider.hr {
  border: 1px solid black;
  margin: 10px 0; 
}

/* Section Inventari */
.btn-inventari{
  box-shadow: 0 0 2px 2px #000;
  padding: 1rem 1rem;
  font-family: Arial;
  background-color: #4472C4;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  transition: border 0.3s ease;
}
 
.btn-inventari:hover {
  border: 2px dotted transparent;
  color: rgb(245, 235, 235); 
  text-decoration: none; 
}

.video{
    display: block;
    margin: 0 auto;
}

.div{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* Image perfil */
.perfil-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
    margin-top: -10px;
    margin-left: 40px;
}

.span-username {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name{
    margin-top: 5px;
}

.perfil-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}


/* Panel */
.ul-panel {
  background-color: #002060;
  
}

.i-panel{
  color: #ffffff;
}

/* burbuje modal welcome */
#btn-modal:checked ~ .container-modal{
  display: flex;
}
.content-modal{
  width: 400px;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 500px;
}
.content-modal h2{
  margin-bottom: 15px;
}
.content-modal p{
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label{
  padding: 7px 10px;
  background-color: #00B0F0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
  background-color: #181818;
}
.closed-modal{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width:800px) {
  .content-modal{
    width: 90px;
  }
}

/* checkList */
.list-items{
  position: relative;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  width: 400%;
}
.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover{
  background-color: #e7edfe;
}
.list-items .item.checked {
  background-color: #4070f4;
}


.item .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item .checkbox{
  display: flex;
  height: 16px;
  width: 16px;
  border: 1.5px solid #c0c0c0;
  border-radius: 4px;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
  background-color: #e7edfe;
}

.item.checked .checkbox{
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.item.checked .check-icon{
    transform: scale(1);
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Toltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #4070f4;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 130%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Opcioon´s */
.btn-opcion{
  margin-top: 20px;
  transition: border 0.3s ease;
  color: #777;
}
 
.btn-opcion:hover {
  border: 2px dotted transparent;
  color: #4070f4; 
  text-decoration: none; 
}

.navbar-nav.sidebar.sidebar-dark.ul-panel {
  background-color: #002060;  
}
#accordionSidebar {
  background-color: #002060;  
}

.img-content{
  position: fixed;
  top: 20px; 
  right: 20px; 
  width: 100px; 
  height: auto;
  z-index: 2;
}
@media (max-width: 767px) {
  .img-content {
    position: fixed;
    top: 10px;
    right: 10px;
  }
}

/* indicator */
#nav-item-indicator a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px 15px; 
}

#nav-item-indicator.active a,
#nav-item-indicator a:hover {
  background-color: #808080;
}

/* Mode nigth */
.theme-checkbox {

    --toggle-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    margin-top: 10px;
    margin-left: 160px;

  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }

.mode-night {
    transition: background-color 1s ease;
}

.theme-checkbox:checked ~ .mode-night{
    background-color: rgb(129, 118, 118); 
}

/* Astronauta */
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}