{% extends "index.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/register-password.css' %}">   
{% endblock styles %}

{% block contenido %}
    <div class="container-login">
        <form class="form" method="post" action="">
            {% csrf_token %}
            <p class="title">Cambia tu contraseña</p>
                <label>
                        {{ form.old_password.label_tag }}
                        {{ form.old_password.errors }}
                        {{ form.old_password }}
                </label>
                <label>
                        {{ form.old_password.label_tag }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                </label>
                <label>
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                </label>
                <button class="submit">Cambiar</button>
            </div>
        </form>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock scripts %}